@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Pacifico&family=Secular+One&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  color: #022e57;
}

h1 {
  font-family: "Secular One", sans-serif;
  color: #da7f8f;
}

button {
  border: 4px;
  background-color: #a7bbc7;
  border-radius: 1rem;
  color: #142850;
  padding: 4rem 4rem;
}
